body{
    text-align: center;
    margin:0;
    padding:0;
}
header{
    color: white;
}
.logotext{
    position: absolute;
    left:140px;
    padding:0;
}
.first{
    background-color: #1f2937;
    
}
.second{
    padding: 100px;
}
.third{
    width: 80%;
}
.forth{
    width: 60%;
}
p.imgtxt > {
    color: #1f2937;
}
ul{
    list-style-type: none;
    padding-right:120px;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
}
li{
    float:right;
    direction: rtl;
    padding: 30px;
    
}
a{
    display:inline;
    text-decoration: none;
    color: white;
}
.firsth1{
    font-size: 48px extra-bold;
    color: #f9faf8;
    text-align: left;
    margin: 30px;
}
.secondh1{
    font-size: 36px;
    color:#1f2937 ;
    text-align: center;
}
.firstp{
    font-size: 18px;
    font-family: Roboto;
    color: #F9FAF8;
    text-align: left;
    margin: 30px;
}

.flex-container{
display: flex;
gap: 1em;
}
.col{
    width: 100%;
    padding: 20px;
}
img{
    width: 100%;
    height: 100%;
}
.btn_first{
    background-color: #3882f6;
    color:#F9FAF8;
    margin: 10px 0 0 180px;
    border-radius: 10px;
    width: 100px;
}
.btn_forth{
    background-color: #3882f6;
    color:#F9FAF8;
    border-radius: 10px;
    width: 100px;
    margin: 40px;
}
.col_info{
    border: 2px solid #3882f6;
    border-radius: 4%;

}
.imgtxt{
    color: #1f2937;
}

 .col_forth{
    background-color: #3882f6;
}

.thirdp{
    font-size: 18px;
    color:#1f2937;
    font-family: 'Roboto';
    text-align: left;
    padding-left:70px;
    font-style:Italic;
}
.forthh1{
    text-align: left;
}
.forthp{
    text-align: left;
}
span{
    text-align: right;
}

footer{
    padding: 15px;
    background-color: #1f2937;
    color:#F9FAF8;
}
.third_col{
   
    background-color:#E5E7EB;
}
.Thor{
 text-align: right;
 padding-right:120px;
}